<div class="container">
    <h1>Hola, mi primer proyecto</h1>
    <h2>Bienvenido a mi primera aplicación con {{ tecnologia }}</h2>
    <ul>
        <p>Tenemos {{tasks().length}} tareas.</p>
        <li *ngFor="let task of tasks()">
            {{ task }}
        </li>
    </ul>
    <hr>
    <input type="text" (change)="mostrarCambio($event)" [value]="lugar()"/>

    <p>Su nombre es: {{ nombre() }}</p>

    <hr />

    <div *ngIf="person.nombre === 'Juan Pablo'; else miBloque"> 
        Su nombre es {{person.nombre + ' ' + person.apellido}} y tengo {{person.edad}} años.
    </div>
    <ng-template #miBloque>
        Nombre equivocado.
    </ng-template>

    <hr />

    <p>
        <input type="text" [formControl]="nameCtrl"/> <br />
        <span class="message-error" [class.mostrar] = "nameCtrl.invalid">Nombre iválido</span>
    </p>
    <p>
        <input />
    </p>

</div>